astroid==2.11.1
cached-property==1.5.2
certifi==2021.10.8
colorama==0.4.4
cycler==0.11.0
dill==0.3.4
fonttools==4.31.2
GDAL==3.4.2
h5py==3.6.0
isort==5.10.1
kiwisolver==1.4.0
lazy-object-proxy==1.7.1
matplotlib==3.5.1
mccabe==0.7.0
munkres==1.1.4
numpy==1.22.3
packaging==21.3
Pillow==9.0.1
pip==22.0.4
platformdirs==2.5.1
pylint==2.13.1
pyparsing==3.0.7
python-dateutil==2.8.2
scipy==1.8.0
setuptools==61.1.1
six==1.16.0
tomli==2.0.1
tornado==6.1
typing_extensions==4.1.1
unicodedata2==14.0.0
wheel==0.37.1
wrapt==1.14.0
